<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    {% if myform1.errors %}
<p style="color: red;"> Datos ingresados de manera incorrecta </p>
{% endif %}
<form action="" method="POST">{% csrf_token %}
    <table>
        {{ myform1.as_table }}
    </table>
    <input type="submit", value="Enviar">
</form>
</body>
</html>